<div class="job-section">
  <div class="section-header">
    <h3 class="section-title">Arguments</h3>
    <div class="section-actions">
      <button class="copy-button" data-action="copy" data-target="arguments-content">Copy</button>
    </div>
  </div>
  <pre class="arguments-content" id="arguments-content"><%= pretty_arguments(@job.arguments) %></pre>
</div>
