<% timing = detail_timing %>
<div class="timing-cards">
  <% { 'Queue Wait' => timing[:queue_wait], 'Execution' => timing[:execution], 'Total Time' => timing[:total] }.each do |label, duration| %>
    <div class="timing-card">
      <div class="timing-value"><%= detail_duration(duration) %></div>
      <div class="timing-label"><%= label %></div>
    </div>
  <% end %>
</div>
